body{ font-family: "Microsoft YaHei","微软雅黑",Arial;}
.table>tbody>tr>td{vertical-align: middle;}
.navbar{ background-color: #3bc0c3; border-radius: 0; border:none;}
.navbar-default .navbar-nav>li>a{ color:#FFF;}
.navbar-default .navbar-brand{ color:#FFF;}
.navbar-default .navbar-brand:hover{ color:#FFF;}
.error{ color:red;}
.nav-tabs>li>a{ border-radius: 0; }
.form-control{ border-radius: 0;}
label{ font-weight: normal;}

.panel{
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0);
    box-shadow: 0 1px 1px rgba(0,0,0,0);
}
.panel, .panel-heading{ border-radius: 0;}
.panel-title{ font-size: 14px;}
.panel-default>.panel-heading{ background-color: #FFF;}

.search-bar{ padding: 20px 0;}

/* home */
#edit_popup_tpl{ margin:auto 10px; padding-top:30px; overflow: hidden;}