
/* reset */
html,body{ width: 100%; height: 100%;}
body,form,input{ margin: 0; padding: 0; font-size: 14px;}
body{ font-family: "Microsoft YaHei","微软雅黑",Arial; letter-spacing: 0.1em; }
body{ background-image: url("../images/login-bg.jpg"); background-size: cover;}
*{ outline: none;}

/* login */
.wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.login-form{ width: 86%; max-width: 400px; background-color: rgba(255, 255, 255 , 1); overflow: hidden; border-radius: 3px;}
.avtar{ padding: 40px 0; text-align: center; color: #FFF; font-size: 22px; background-color: #3da4e6;  }

.input-box{ position:relative; width: 80%; text-align: left; margin: auto; height: 40px; line-height: 40px; margin-top: 15px; border:1px solid #eaeaea; overflow: hidden; border-radius: 2px; }
.login-form form{ padding-top: 15px;}
.input-box input{ display: block;  width: 100%; height: 40px; padding-left: 35px; border: none;   box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;}
.input-box input{ background-repeat: no-repeat; background-position: 6px center; background-size: 20px 20px;}
.input-box input[name="username"]{ background-image: url(../images/icon-user.png);}
.input-box input[name="password"]{ background-image: url(../images/icon-password.png);}
.input-box input[name="captcha"]{ background-image: url(../images/icon-captcha.png);}


.captcha span{ position: absolute; top: 0; right: 5px; }
.captcha i{ position: absolute;  border-left: 1px solid #EEE; left: -5px; top: 5px; width: 10px; height: 28px;}
.captcha span img{ width: 100px; height: 40px; cursor: pointer;}

.btn-signin{ padding: 30px 0}
.btn-signin button{ display: block;  border: 0;
  font-size: 15px;
  padding: 12px;
  border-radius: 2px;
  text-align: center;
  color: #fff; cursor: pointer; width: 80%; margin: auto; background-color: #3da4e6;
}

/* end login */


@media screen and (max-width: 640px){
  .avtar{ padding: 40px 0; font-size: 18px;}
  .input-box, .btn-signin button{ width: 85%;}
  .login-form form{ padding: 0;}
  .captcha{ border:1px solid #eaeaea; }
  .captcha i{ height: 38px;}
  .btn-signin{ padding: 15px 0;}

}
